body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 116, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
p,
span,
strike {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background: #ffffff;
}

.brand {
  padding-left: 30px;
}

#task-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-around;
  align-items: flex-start;
}

#form-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid #e9e9e9;
  background-color: #ffffff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

.flex-wrapper {
  display: flex;
}

.task-wrapper {
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
  color: #686866;
  margin: 5px;
  padding: 20px;
}

.task-wrapper:hover {
  background-color: #f0f0f0;
}
